
.Title{

text-align: center;
background-color: beige;
}

.center {
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
  }


.sub_title1{
    
    background-color: cadetblue;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}
.one {
  grid-column: 2;
  grid-row: 1;
  text-align: center;

}
.two {
  grid-column: 2;
  grid-row: 2;
}
.three {
  grid-column: 3;
  grid-row: 2;
 

}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: aliceblue;
  
}
.five {
  grid-column: 1;
  grid-row: 2 / 3;
  
}
.six {
  grid-column: 1;
  grid-row: 2;
}

.ecriturestyle {
  font-family:'Stencil Std', cursive;
  font-size:xx-large;
  color: burlywood;
}